.header {
  &__title {
    flex-grow: 1;
  }
}

$height-appbar: 64px;

.body {
  width: 100%;
}

.body--has-login {
  margin-top: $height-appbar;
  height: calc(100% - $height-appbar);
}

.body--not-login {
  margin-top: 0;
  height: 100%;
}
