@import "../../../styles/base/palette.scss";
@import "../../../styles/base/background-color.scss";
@import "../../../styles/base/mixins.scss";
@import "../../../styles/base/animation/fading_entrances/fadeInDown.scss";

.header {
  background: $background-color-lv0 !important;
  box-shadow: none !important;
  color: #5a5a5a !important;
  @include animated(fadeInDown);

  &--stop {
    animation-name: unset;
  }

  &__title {
    flex-grow: 1;
  }

  &__settings {
    width: 30px !important;
    height: 30px !important;
  }
}

$height-appbar: 64px;

.body {
  width: 100%;
}

.body--has-login {
  margin-top: $height-appbar;
  height: calc(100% - #{$height-appbar});
}

.body--not-login {
  margin-top: 0;
  height: 100%;
}
