@import "../../../styles/base/padding.scss";

.language {
  img {
    cursor: pointer;
    filter: grayscale(1);
  }

  img:first-child {
    margin-right: $padding-inside-component;
  }

  img.language_img--selected {
    filter: unset;
  }
}
